#header .media_nav{
    position: relative;
    display: none;
    cursor: pointer;
}
#header ul.nav{
    display: none;
}

/* all */
@media only screen and (max-width: 63.9375em){
    #header ul.menu{
        position: relative;
        display: none;
    }
    #header ul.tool-box{
        display: none;
    }
    #header .media_nav{
        position: absolute;
        display: block;
    }
    #header ul.nav{
        position: absolute;
        display: block;
        transform: translateX(-100%);
    }
    #slideshow {
        max-width: 80%;
        /* max-height: 7%; */
        /* width: 450px; */
        margin: 0 auto;
        padding: 10px;
    }
    #slideshow .slideshow-img{
        max-width: 100%;
        max-height: 100%;
    }
    #slideshow img{
        width: 100%;
        height: 300px;
    }
    #slideshow .bottom-slideshow{
        display: none;
    }
    #navagation{
        max-width: 85%;
        margin: 0 auto;
    }
    #navagation .best-seller, .new-product{
        margin: 50px auto !important;
        max-width: 700px !important;
    }
    #navagation .product{
        width: 45% !important;
        margin: 0px 14px;
    }
    .product .product-select img{
        width: 250px !important;
    }
    #footer .footer-content{
        width: 85%
    }
    
}
/* mobile */
@media only screen and (max-width: 46.1875em) {
    #slideshow {
        max-width: 70%;
    }
    #slideshow img{
        width: 100%;
        height: 250px;
        margin: 0 auto;
    }
    .product .product-select img{
        width: 250px !important;
    }
    #navagation{
        max-width: 70%;
    }
    #navagation h4{
        font-size: 18px;
        padding: 10px;
    }
    #navagation .product {
        display: flex !important;
        width: 90% !important;
        margin: 0px 14px 20px;
    }
    .button-menu button{
        height: 40px;
        width: 60px !important;
        margin: 0 auto !important;
        border-radius: 8px !important;
        padding: 0 !important;
    }
    #footer{
        min-height: 450px !important;
    }
    #footer .footer-content{
        flex-direction: column;
        height: 90%;
    }
    .footer-content .logo{
        max-height: 100px;
        width: 50% !important;
        margin: 20px auto;
        padding: 10px 0 !important;
    }
    .logo img{
        height: 30px !important;
        width: 30px !important;
    }
    .footer-content .follow{
        width: 100% !important;
        height: 100px !important;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0 !important;
        margin: 15px 0;
    }
    .follow .content{
        height: 15px;
    }
    .content i{
        padding: 0 !important;
        margin: 0 20px;
    }
    .content a{
        height: 100% !important;
    }
    .footer-content .contact{
        width: 100% !important;
        height: 100px !important;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0 !important;
        margin: 15px 0;
    }
    .contact .content{
        padding: 0 !important;
    }
}

/* tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    #navagation h4{
        font-size: 20px !important;
        padding: 15px !important;
    }
    .footer-content .logo, .follow, .contact{
        margin: 0 10px;
    }
    .footer-content .follow .content{
        display: flex;
    }
}